<% layout('./layouts/boilerplate') -%>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const coordinates = <%- JSON.stringify(place.geometry.coordinates) %>;
  const locationWeather = "<%= place.location %>";
  const weatherApiKey="<%= process.env.WEATHER_API_KEY %>";
</script>
<body>
  <div class="row">
    <div class="mt-2 d-flex justify-content-center">
      <img
        src="<%= place.image %>"
        class="img-fluid rounded mx-auto"
        width="300vh"
        alt="Listing_Image"
      />
    </div>
  </div>
  <hr />

  <div class="row">
    <!-- Place Details -->
    <div
      class="col-sm-5 offset-md-1 p-4 d-flex flex-column justify-content-between"
      style="
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
      "
    >
      <div>
        <h3><b><%= place.title %></b></h3>
        <hr />
        <p><%= place.description %></p>
        <p><b>~<%= place.addedBy.username %></b></p>
      </div>
    </div>

    <!-- weather   -->

    <div class="col-sm-5">
      <div class="weatherDetails show">
        <div class="weather-info">
          <h2 id="locationWeather"></h2>
          <hr />
          <p id="temperatureWeather">
            <i class="fas fa-thermometer-half"></i> <span>Temp:</span>
          </p>
          <p id="descriptionWeather">
            <i class="fas fa-cloud-sun"></i> <span>Description:</span>
          </p>
          <p id="windSpeedWeather">
            <i class="fas fa-wind"></i> <span>Wind Speed:</span>
          </p>
          <p id="humidityWeather">
            <i class="fas fa-tint"></i> <span>Humidity:</span>
          </p>
          <p id="pressureWeather">
            <i class="fas fa-tachometer-alt"></i> <span>Pressure:</span>
          </p>
        </div>
      </div>
    </div>

    <!-- weather -->
  </div>
  <br />

  <% if (currentUser && currentUser._id.equals(place.addedBy._id)) { %>
  <div style="display: flex; justify-content: center; gap: 20px">
    <form method="GET" action="/places/<%= place._id %>/edit">
      <button
        type="submit"
        class="btn btn-primary fw-bold"
        style="background-color: #74c0fc; border: none"
      >
        UPDATE
      </button>
    </form>

    <form
      method="POST"
      action="/places/<%= place._id %>?_method=DELETE"
      onsubmit="return confirmDelete()"
    >
      <button
        type="submit"
        class="btn btn-primary fw-bold"
        style="background-color: #090909; border: none"
      >
        DELETE
      </button>
    </form>
  </div>
  <% } %>
  <br />

  <% if(currentUser){ %>
  <hr />

  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <h3>Leave a comment:</h3>
      <form
        method="POST"
        action="/places/<%= place._id %>/reviews/add"
        novalidate
        class="needs-validation"
      >
        <div class="mb-1">
          <label for="rating" class="form-label">Rate us:</label>
          <!-- <input type="range" class="form-range" min="1" max="5" id="rating" name="rating"> -->

          <fieldset class="starability-heartbeat">
            <!-- <legend></legend> -->
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="rating"
              value="1"
              checked
              aria-label="No rating."
            />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3">
          <label for="review" class="form-label">Comment:</label>
          <textarea
            class="form-control"
            id="review"
            name="review"
            rows="3"
            placeholder="Leave a comment.."
            required
          ></textarea>
          <div class="invalid-feedback">Please leave a comment..</div>
        </div>
        <div class="mb-3 d-flex justify-content-center">
          <button type="submit" class="btn btn-outline-secondary">
            SUBMIT
          </button>
        </div>
      </form>
    </div>
  </div>
  <% } %> <% if(place.reviews.length>0) {%>
  <hr />
  <div class="mb-3">
    <p><b>All comments:</b></p>
    <div class="row">
      <% for(let review of place.reviews) { %>
      <div class="card col-md-4 mb-3 offset-md-1">
        <div class="card-body">
          <b>~<%= review.createdBy.username %></b>
          <h5 class="card-title d-flex justify-content-between">
            <p class="starability-result" data-rating="<%= review.rating %>">
              Rated: 3 stars
            </p>
            <small
              ><%= review.createdAt.toDateString().split(" ").join(", ")
              %></small
            >
          </h5>
          <div class="d-flex justify-content-between">
            <div class="card-text me-2"><%= review.review %></div>

            <% if (currentUser && currentUser._id.equals(review.createdBy._id))
            { %>
            <form
              method="POST"
              action="/places/<%= place._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button
                type="submit"
                class="btn btn-sm btn-dark align-self-bottom"
              >
                DELETE
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <% } %>

  <!-- map -->

  <hr />
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h3><b> Find it..</b></h3>
    <div id="map"></div>
  </div>

  <div class="row mb-3">
    <div class="col col-sm-6 offset-md-3">
      <div id="menu">
        <input
          id="satellite-streets-v12"
          type="radio"
          name="rtoggle"
          value="satellite"
        />
        <label for="satellite-streets-v12">satellite streets</label>|
        <input id="light-v11" type="radio" name="rtoggle" value="light" />
        <label for="light-v11">light</label>|
        <input id="dark-v11" type="radio" name="rtoggle" value="dark" />
        <label for="dark-v11">dark</label>|
        <input id="streets-v12" type="radio" name="rtoggle" value="streets" />
        <label for="streets-v12">streets</label>|
        <input id="outdoors-v12" type="radio" name="rtoggle" value="outdoors" />
        <label for="outdoors-v12">outdoors</label>
      </div>
    </div>
  </div>

  <script src="/script/map.js"></script>
  <script src="/script/weather.js"></script>
</body>
